# Node
node_modules/
dist/

# Python
venv/
__pycache__/
*.pyc

# OS
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/

# Logs
*.log

# Environment / Secrets
.env

# Docker
*.pid
*.sock
*.tar

# Build artifacts
*.egg-info/
build/
